.card {
    border: 3px solid #3e6868;
    padding: 19px;
    border-radius: 10px;
    margin: 19px;
    max-width: 300px;
}

.card img {
    width: 90%;
    height: auto;
}

.card h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card p {
    font-family: 'Courier New', Courier, monospace;
}