.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; /* Espacio entre las imágenes */
    padding: 15px; /* Espacio alrededor del grid */
}
.arrows {
    display: none;
}


@media (max-width: 768) {

    .arrows {
        display: flex;
    }
}