.App h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



